.lead__image {
  display: block;
  margin: 0 auto;
  object-fit: contain;
  width: 100%;
  height: 100%;
  min-height: 615px;
}

@media screen and (max-width: 1279px) {
  .lead__image {
    min-height: 580px;
  }
}

@media screen and (max-width: 1023px) {
  .lead__image {
    min-height: 480px;
  }
}

@media screen and (max-width: 767px) {
  .lead__image {
    min-height: 340px;
    margin-left: -24px;
    width: 100vw;
  }
}

@media screen and (max-width: 575px) {
  .lead__image {
    min-height: 200px;
    margin-left: -16px;
  }
}
