.cover__background {
  background-image: url(/../../images/cover-trains.jpg);
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 740px;
  background-repeat: no-repeat;
  background-size: cover;
  text-decoration: none;
}
